body {
    background-color: #54436B;
    height: 800px;
}
.jumbotron {
    font-family: 'Pushster', cursive;
    padding: 2rem;
    color: #707070;
}

.button {
    padding: 1rem;
    text-transform: uppercase;
}

.icon {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
}

.footer {
padding: 2rem;
}

