.jumbotron {
    font-family: 'Pushster', cursive;
    padding: 2rem;
    color: #707070;
    background-color: #54436B;
}

.button {
    padding: 1rem;
    text-transform: uppercase;
    background-color: #54436B;
}

.icon {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
}

.footer {
padding: 2rem;
background-color: #54436B;
}

